/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

#zone-user-wrapper {
	background-color: #808284;
}
#zone-user-wrapper h2 {
	font-size: xx-small;
	color: #808284;
}

#zone-user-wrapper a:link {
	color: white;
	text-decoration: none;
}

#zone-user-wrapper a:visited {
	color: #f4f4f4;
	text-decoration: none;
}

.branding-data {
	border-bottom: 1px inset #404041;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.branding-data h6 {
	color: #808284;
	font-size: 50pt;
	padding-top: 8px;
	font-weight: lighter;
}

.logo-img {
	max-width: 258px;
	max-height: 80px;
}
#region-sidebar-first {
	border-right:1px inset #404041;
	width: 244px;
	margin-right: 5px;
	padding-right: 10px;
}

#region-sidebar-first a:link {
	font-weight: bold;
	text-decoration: none;
	color: #808284;
}

#region-sidebar-first a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #808284;
}

#region-sidebar-first h2 {
	font-weight: 700;
	text-decoration: none;
	color: #808284;
}

.field-label {
	font-size:large;
	padding-top: 10px;
	padding-bottom: 5px;
}

.field-name-body{
	max-width: 50%;
	padding-top: 20px;
}

.field {
	padding-left: 20px;
}

.region-inner {
	padding-right: 20px;
}