/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
a.button{
  display:inline-block;
  width:200px; 
  height:30px;
  padding-top:13px;
  border:1px #D7D7D7 solid;
  text-align:center;
  text-decoration:none;
  background-color:#BBBDC0;
  border-radius: 5px;
}

a.button:hover{
  background-color: #A7A9AB;
}

a.button:active{
	background-image:-webkit-linear-gradient(#A7A9AB 0%, #808284 100%)
}

#zone-user-wrapper {
	background-color: #808284;
}
#zone-user-wrapper h2 {
	font-size: xx-small;
	color: #808284;
}

#zone-user-wrapper a:link {
	color: white;
	text-decoration: none;
}

#zone-user-wrapper a:visited {
	color: #f4f4f4;
	text-decoration: none;
}

.branding-data {
	border-bottom: 1px inset #404041;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.branding-data h6 {
	color: #808284;
	font-size: 50pt;
	padding-top: 8px;
	font-weight: lighter;
}

.logo-img {
	max-width: 258px;
	max-height: 80px;
}
#region-sidebar-first {
	border-right:1px inset #404041;
	width: 244px;
	margin-right: 5px;
	padding-right: 10px;
	height: 400px;
	overflow-y: scroll;
}

#region-sidebar-first a:link {
	font-weight: bold;
	text-decoration: none;
	color: #808284;
}

#region-sidebar-first a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #808284;
}

#region-sidebar-first a.button {
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

#region-sidebar-first h2 {
	font-weight: 700;
	text-decoration: none;
	color: #808284;
}

.field-label {
	font-size:large;
	padding-top: 10px;
	padding-bottom: 5px;
}

.field-name-body{
	max-width: 50%;
	padding-top: 20px;
}

.field-content {
	padding-top: 3px;
	padding-bottom: 3px;
}

.views-row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.field {
	padding-left: 20px;
}

.region-inner {
	padding-right: 20px;
}

.block-title {
	visibility: hidden;
}

#branding {
	visibility: hidden;
	height: 0px;
}

.node-form-options {
	visibility: hidden;
	height: 0px;
}

.content {
	margin-top: -20px;
}

.description {
	visibility: hidden;
}

.filter-wrapper {
	visibility: hidden;
	height: 0px;
}

.form-wrapper {
	padding: 0px;

}

.text-summary-wrapper {
	visibility: hidden;
	height: 0px;
}

.container-inline-date {
	margin-bottom: -35px;
}

#field-project-deadline-add-more-wrapper {
	width: 50%;
}

.form-textarea {
	height: 200px;
}

#branding {
	visibility: hidden;
	height: 0px;
}

.fieldset-legend {
	visibility: hidden;
	height: 0px;
}

.vertical-tabs-panes {
	visibility: hidden;
	height: 0px;
}